# banglore house predicting usingn linear regression

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("D:\\machine learning data sets\\Bengaluru_House_Data.csv")

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

# data preprocessing

In [4]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df.select_dtypes(include = ["int64",'float64'])

       bath  balcony   price
0       2.0      1.0   39.07
1       5.0      3.0  120.00
2       2.0      3.0   62.00
3       3.0      1.0   95.00
4       2.0      1.0   51.00
...     ...      ...     ...
13315   4.0      0.0  231.00
13316   5.0      NaN  400.00
13317   2.0      1.0   60.00
13318   4.0      1.0  488.00
13319   1.0      1.0   17.00

[13320 rows x 3 columns]

In [9]:
df1 = df.select_dtypes(include = ['O'])
df1

,area_type,availability,location,size,society,total_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200
...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550

# catogorical one label encoding

In [11]:
 df2 = pd.get_dummies(df)

df2

In [12]:
df2

,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_14-Jul,availability_14-Nov,availability_15-Aug,...,total_sqft_990,total_sqft_991,total_sqft_992,total_sqft_993,total_sqft_994,total_sqft_995,total_sqft_996,total_sqft_997,total_sqft_998,total_sqft_999
0,2.0,1.0,39.07,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,120.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,62.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,95.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,51.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,4.0,0.0,231.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13316,5.0,NaN,400.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13317,2.0,1.0,60.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,4.0,1.0,488.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,17.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df2 = pd.get_dummies(df,drop_first = True)
df2

,bath,balcony,price,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_14-Nov,availability_15-Aug,availability_15-Dec,availability_15-Jun,...,total_sqft_990,total_sqft_991,total_sqft_992,total_sqft_993,total_sqft_994,total_sqft_995,total_sqft_996,total_sqft_997,total_sqft_998,total_sqft_999
0,2.0,1.0,39.07,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,120.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,62.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,95.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,51.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,4.0,0.0,231.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13316,5.0,NaN,400.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13317,2.0,1.0,60.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,4.0,1.0,488.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,17.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df2.keys()

Index(['bath', 'balcony', 'price', 'area_type_Carpet  Area',
       'area_type_Plot  Area', 'area_type_Super built-up  Area',
       'availability_14-Nov', 'availability_15-Aug', 'availability_15-Dec',
       'availability_15-Jun',
       ...
       'total_sqft_990', 'total_sqft_991', 'total_sqft_992', 'total_sqft_993',
       'total_sqft_994', 'total_sqft_995', 'total_sqft_996', 'total_sqft_997',
       'total_sqft_998', 'total_sqft_999'],
      dtype='object', length=6223)

In [16]:
df2.isnull().sum().sum()

682

In [17]:
df2.isnull().sum()

bath                       73
balcony                   609
price                       0
area_type_Carpet  Area      0
area_type_Plot  Area        0
                         ...
total_sqft_995              0
total_sqft_996              0
total_sqft_997              0
total_sqft_998              0
total_sqft_999              0
Length: 6223, dtype: int64

In [19]:
df3 = df2.dropna()

In [68]:
df3.isnull().sum().sum()
df.select_dtypes(include = ['O'])

,area_type,availability,location,size,society,total_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200
...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550

In [56]:
from sklearn.preprocessing import OneHotEncoder

In [70]:
en = OneHotEncoder
df4_en = en.fit_transform(df3['area_type','availability','location','size','society','total_sqft'])

KeyError: ('area_type', 'availability', 'location', 'size', 'society', 'total_sqft')

#  df3 is preprocessed and encoded data

In [30]:
x = df3.drop('price',axis = 1)

In [31]:
y = df3['price']

In [32]:
print('shape of x is =  ', x.shape)
print('shape of y is =  ', y.shape)

shape of x is =   (12711, 6222)
shape of y is =   (12711,)

# splitting of data in train and test

In [34]:
#from sklearn.model_selection import train_test_split this packege is used for test train splitting
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 51)

In [35]:
print('shape of x_train is =  ', x_train.shape)
print('shape of x_test is =  ', x_test.shape)
print('shape of y_train is =  ', y_train.shape)
print('shape of y_test is =  ', y_test.shape)

shape of x_train is =   (10168, 6222)
shape of x_test is =   (2543, 6222)
shape of y_train is =   (10168,)
shape of y_test is =   (2543,)

# feature scaling

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
#3sc = StandardScaler

In [42]:
#sc.fit(x_train)

In [43]:
from sklearn.linear_model import LinearRegression

In [45]:
lr = LinearRegression()

In [48]:
lr.fit(x_train,y_train)

MemoryError: Unable to allocate 483. MiB for an array with shape (10168, 6222) and data type float64